**/build/
*.buckd
**/buck
**/buck-out

**/bazel-bin
**/bazel-out
**/bazel-testlogs
**/bazel-PerformanceTest_Bazel

**/xcuserdata/
.DS_Store
*.mobileprovision
*.dSYM.zip
*.ipa
*.xcuserstate
*.xcodeproj
*.xcworkspace
*.d
*.dia
*.o
*.orig
